{% extends "layout.html" %}
{% block title %}Active Chat Rooms{% endblock %}
{% block content %}
<div class="container">
    <section class="section">
        <div class="block">
            <h1 class="title is-1 has-text-centered">Welcome to Our Active Chat Rooms!</h1>
            <p class="subtitle is-size-4 has-text-grey-dark">
                Join an active chat room to engage with peers and enhance your learning experience.
            </p>
        </div>
        <div class="table-container">
            <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Course Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in object_list %}
                    <tr>
                        <td>{{ course.title }}</td>
                        <td>
                            <a class="button is-success" href="{% url 'chat:course_chat_room' course.id %}">Enter Chat Room</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}
